
.button1
{
-fx-background-color: rgba(26, 145, 255, 0.7);
-fx-background-radius: 0;
-fx-text-fill:  #FFFFFF;
}

.button2
{
-fx-background-color: rgba(26, 145, 255, 0.5);
-fx-background-radius: 0;
-fx-text-fill:  #FFFFFF;
}

.button3
{
-fx-background-color: rgba(26, 145, 255, 0.8);
-fx-background-radius: 0;
-fx-text-fill:  #FFFFFF;
}

.button4
{
-fx-background-color: rgba(26, 145, 255, 0.4);
-fx-background-radius: 0;
-fx-text-fill:  #FFFFFF;
}

.button5
{
-fx-background-color: rgba(26, 145, 255, 0.9);
-fx-background-radius: 0;
-fx-text-fill:  #FFFFFF;
}

.button1:hover
{
-fx-background-color: #1A91FF;
-fx-background-radius: 0;
-fx-text-fill:  #FFFFFF;
}

.button2:hover
{
-fx-background-color: #1A91FF;
-fx-background-radius: 0;
-fx-text-fill:  #FFFFFF;
}

.button3:hover
{
-fx-background-color: #1A91FF;
-fx-background-radius: 0;
-fx-text-fill:  #FFFFFF;
}

.button4:hover
{
-fx-background-color: #1A91FF;
-fx-background-radius: 0;
-fx-text-fill:  #FFFFFF;
}

.button5:hover
{
-fx-background-color: #1A91FF;
-fx-background-radius: 0;
-fx-text-fill:  #FFFFFF;
}

.text-area {
 -fx-background-color: rgba(230, 230, 230, 0.85); 
 -fx-font-family: 'Helvetica', Arial, sans-serif;
 -fx-font-size: 14px;  
}

